* {
    margin: 0px;
    padding: 0px;
    font-family: Inter;
}

/* Navigation Bar */
nav {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    background-color: #FFF;
    display: inline-flex;

}

.logo {
    display: inline;
}

nav img {
    height: 5vh;
    width: 20vw;
    margin: 5px 55px auto 5px;
    display: inline-flexbox;
}

nav .mobile img {
    display: none;
}

nav a {
    z-index: 1px;
    margin-right: 20px;
    align-items: center;
    color: #22374A;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    text-decoration: none;
}

nav a:hover {
    margin-right: 20px;
    align-items: center;
    color: #b4b4b4;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    text-decoration: none;
}

.icons {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

#Sign {
    color: white;
    z-index: inherit;
    width: 107px;
    height: 75px;
    padding: 5px 15px;
    border-radius: 17px;
    background: #22374A;
}

#Sign:hover {
    color: rgb(155, 155, 155);
    z-index: inherit;
    width: 107px;
    height: 75px;
    padding: 5px 15px;
    border-radius: 17px;
    background: #0a1927;
}





/* hero section */
.hero-section {
    width: 100%;
    height: 800px;

    flex-shrink: 0;
    background: #78B1D5;
    padding-top: 90px;
    display: flex;
}

.leftSide {
    margin-left: 55px;
    background-image: url(/Images/heroBG-illu.svg);
    background-repeat: no-repeat;
    width: 70%;
    height: max-content;
}

.leftSide p {
    width: 794px;
    color: #233F57;
    font-family: Inter;
    font-size: 90px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.leftSide h6 {
    height: 172px;
    flex-shrink: 0;

    margin: 121px 101px 168px 5px;

    color: #233F57;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 1000;
    line-height: 40px;
}

.leftSide p span {
    color: #335C7C;
    font-family: Inter;
    font-size: 90px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


.rightSide {
    margin: 70px 52px 227px -10px;
}


#randIMG {
    padding-top: 100px;
    z-index: -10;

}

.feature-sec {
    width: 100%;
    height: 700px;

    background: #78B1D5;
}

#feature-txt {
    width: 200px;
    height: 53.522px;
    flex-shrink: 0;

    margin: 75px auto 44px 115px;
    display: inline-block;
    color: #FFF;
    font-family: inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


.card {
    width: 100%;
    height: 452px;
    display: inline-block;
    background: #ffffff;
  align-items: flex-start;
}

.card img{
    width: 423px;
    height: 562px;
flex-shrink: 0;
display: inline-block;
padding-bottom: 120px;
}
.content{
    margin-top: 35px;
    width: 1000px;
height: 500px;
flex-shrink: 0;
    display: inline-block;
flex-shrink: 0;
}
.card .content h1{
    align-items: flex-start;
    color: #233F57;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
display: inline-flex;
}
.card .content p{
    margin-top: 20px;

    width: 700px;
height: 138px;
flex-shrink: 0;

color: #2D475E;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28.5px; /* 142.5% */
}
.card .content p b{
    color: #365774;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 28.5px;
}

.content button{
    width: 288px;
height: 50px;
border-radius: 15px;
background: #345878;

color: #FFF;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
border: 0px ;
}
